.mediaServers {
    text-align: right;
    margin-top: 70px;
}


/*.icon {
	width: 5%;
	height: 5%;
	opacity: 0.5;
	cursor: pointer;
}

#audioMenuWrapper {
	position: absolute;
	text-align: center;
	width: 1140px;
}*/

#audioMenuWrapper {
    height: 200px;
    opacity: 0.8;
}

.kc-item img {
    position: absolute;
    pointer-events: none;
    /* Make images non-selectable. */
    width: 100%;
    /* Make images expand to wrapper size (used in 2d modes). */
    height: 100%;
    padding-bottom: 10px;
}

#playlistCarousel .kc-item img {
    pointer-events: default;
    /* Make images non-selectable. */
    width: 40px;
    /* Make images expand to wrapper size (used in 2d modes). */
    height: 40px;
    padding-bottom: 20px;
    top: 30px;
}

.kc-wrap {
    opacity: 0.8;
}

td {
    vertical-align: middle;
}

#playlistCarousel {
    padding: 0px;
    height: 150px;
    margin: 0 auto;
}

#audioMenu {
    height: 0px;
    text-align: center;
    display: flex;
}


/*.menu-item {
	height: 60px;
	width: 60px;
	display: inline-block;
	opacity: 0;
	margin-right: 6%;
	margin-left: 6%;
	margin-top: 4%;
	cursor: pointer;
}*/

.menu-item img {
    width: 60%;
    cursor: pointer;
}


/*#mediaName,#lectureName {
				  position: absolute;
				  padding: 0;
				  margin: 0;
				  bottom: 5px;
				  left: 5px;
				  width: 200px;
				  z-index: 9999998;
				  font-size: 30px;
				  text-align: center;
			  }

#lectureName,
#playlist {
	font-size: 30px;
	width: 100%;
	height: 42px;
	bottom: 0px;
	text-align: left;
	background-image: url('background.png');
	background-position: center;
	border-top: 1px solid gray;
	margin-top: 0px;
}*/

#playlistCarousel .kc-horizon img {
    opacity: 0.5;
}

#playlistCarousel .kc-horizon .kc-front-item img {
    opacity: 1;
}

.invisible {
    display: none;
}

.kc-front-item {
    cursor: pointer;
}

.tcenter {
    padding: 10px;
    text-align: center;
}

#parArtiste,
#parAlbum,
#toutesLesChansons {
    opacity: 0;
    display: none;
}

.group {
    background: linen;
    -moz-box-shadow: 2px 2px 5px 0px #c0c0c0;
    -webkit-box-shadow: 2px 2px 5px 0px #c0c0c0;
    -o-box-shadow: 2px 2px 5px 0px #c0c0c0;
    box-shadow: 2px 2px 5px 0px #c0c0c0;
    filter: progid: DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);
}

#back {
    position: absolute;
    top: 160px;
    opacity: 0;
    width: 40px;
    //max-width: 2%;
    height: auto;
}

@media screen and (max-width:768px) {
    .kc-item img {
        padding-bottom: 30px;
    }
    #mediaName,
    #playlist {
        font-size: 19px;
        width: 145px;
    }
    #lectureName {
        font-size: 15px;
    }
    #playlistCarousel {
        height: 200px;
    }
    .btn-default {
        width: 30px;
        height: 30px;
    }
    #audioMenu {
        display: flex;
    }
    .menu-item img {
        width: 60%;
        min-width: 20px;
    }
    #audioMenuWrapper {
        height: 100px;
        cursor: pointer;
    }
    #back {
        opacity: 0;
        top: 6%;
        width: 35px;
        left: 50%; //max-width: 2%;
        height: auto;
    }
}